<div class="main-page__container">
    <div class="sidebar-filter">
        filter lalala
    </div>
    <div class="book-list">
        <div class="book" *ngFor="let book of exampleBooks">
            <div class="book__image-container">
                <img src="" alt="">
                <div class="book__image-overlay"></div>
    
            </div>
            <div class="book__details">
                <div class="book__name">
                    {{book.name}}
                </div>
                <div class="book__category_and_price">
                    <div class="book__category">
                        {{book.category}}
                    </div>
                    <div class="book__price">
                        {{book.price ? book.price + '$' : ''}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>