.main-page__container {
    width: 1250px;
    max-width: 100%;
    margin: auto;
    display: flex;
    padding: 50px 10px;
}

.sidebar-filter {
    width: 240px;
    flex-shrink: 0;
}

.book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .book {
        cursor: pointer;
        width: 270px;
        height: 320px;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        transition: all 0.1s ease-in-out;
        &:hover {
            box-shadow: 0 5px 20px rgba(0,0,0,0.15);
            .book__image-overlay {
                opacity: 0.7 !important;
            }
        }
            // opacity: 0.7;
        .book__image-container {
            background: #f0f0f0;
            height: 180px;
            position: relative;
            .book__image-overlay {
                background: #1cb8ff;
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                transition: all 0.1s ease-in-out;
            }
        }
        .book__details {
            padding: 20px 20px 25px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 140px;
            box-sizing: border-box;
    
            .book__category_and_price {
                display: flex;
                justify-content: space-between;
                bottom: 0;
                .book__category {
                    font-family: 'Raleway', sans-serif;
                    font-size: 13px;
                    color: #a6a9af;
                }
            }
        }
    }
}