$header-height: 190px;
$footer-height: $header-height;

:host {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding-bottom: $footer-height;
    box-sizing: border-box;
}

header {
    height: $header-height;
    background: #dedfe0;
}

footer {
    height: $footer-height;
    background: #dedfe0;
    position: absolute;
    width: 100%;
    bottom: 0;
}