/* You can add global styles to this file, and also import other style files */
// Specify in CSS
// Use the following CSS rules to specify these families:


//  font-family: 'Montserrat', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');
//  400, 700

//  font-family: 'Raleway', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
//  500

html, body {
    height: 100%;
    margin: 0;
}

